<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Farm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
    <div class="container my-5">
        <h3> Update Farm</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-8">
                    <form action="#" th:action="@{/farms/updateFarm/{id}(id=${farms.id})}" th:object="${farms}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="farmName" class="col-form-label">Farm Name</label> <input type="text" th:field="*{farmName}" class="form-control" id="farmName" placeholder="FarmName"> <span th:if="${#fields.hasErrors('farmName')}" th:errors="*{farmName}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="location" class="col-form-label">Farm Location</label> <input type="text" th:field="*{location}" class="form-control" id="location" placeholder="Location"> <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="text-danger"></span>
                            </div>
                          
                            <div class="form-group col-md-8">
                                <input type="submit" class="btn btn-primary" value="Update Farm">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>